.Section--Contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
    height: 100vh;
}

.Asside-Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem 0;
    height: auto;
}

input {
    padding-left: 1rem;
}

p {
    color: var(--button-hover)
}