.card--info {
    width: 250px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 10%;
    padding-left: 0rem;
}

li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-evenly;
    color: rgb(3, 155, 13);
}