footer {
    background: rgb(40, 40, 139);
    margin: 0;
}

.Asside-Footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer--lista {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
}