nav {
    background: linear-gradient(90deg, rgba(40, 40, 139, 1) 0%, rgb(0, 192, 206) 100%);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    display: flex;
}

.buttonHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: fit-content;
    background: rgb(0, 192, 206);
}