nav {
    background: rgb(40, 40, 139);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    display: flex;
}

.buttonHeader {
    width: 150px;
    background-color: rgb(40, 40, 139);
}