nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 0.3rem solid rgb(9, 8, 110)
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    display: flex;
}

h2 {
    min-width: 710px;
    color: #747bff;
}

.buttonHeader {
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: fit-content;
    background-color: var(--button-color);
    color: var(--text-color);
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    user-select: none;
}

.buttonHeader:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.buttonHeader:focus-visible {
    outline: 2px solid var(--focus-outline);
}

button:focus {
    outline: none;
    outline: none;
}

button:active {
    outline: none;
}